<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--启动注解-->
    <!--<context:annotation-config/>-->

    <!--启动注解,并扫描注册为bean的组件-->
    <context:component-scan base-package="examples"/>
    <!--启动切面-->
    <aop:aspectj-autoproxy/>

    <bean id="defaultServiceLocator" class="examples.DefaultServiceLocator"/>

    <!--<bean id="clientService" class="examples.ClientServiceImpl">-->
    <!--<qualifier value="s1"/>-->
    <!--</bean>-->

    <!--<bean id="clientService1" class="examples.ClientServiceImpl">-->
    <!--<qualifier value="s2"/>-->
    <!--</bean>-->

    <bean id="service" class="examples.DefaultServiceLocator" factory-method="createStatic"/>

    <bean id="defaultServiceLocator3" factory-bean="defaultServiceLocator" factory-method="createNew" primary="true"/>

    <bean id="defaultServiceLocator2" factory-bean="defaultServiceLocator" factory-method="createNew1"/>

    <!--<bean id="architecture" class="examples.SystemArchitecture"></bean>-->

    <!--<aop:config>-->
        <!--<aop:aspect ref="architecture">-->

            <!--<aop:pointcut id="abc" expression="execution(public * abc(..))"/>-->

            <!--&lt;!&ndash;<aop:around pointcut-ref="abc" method="doBasicProfiling"/>&ndash;&gt;-->
            <!--<aop:before pointcut-ref="abc" method="anyPublicOperation"/>-->
            <!--<aop:after pointcut-ref="abc" method="doReleaseLock"/>-->
            <!--<aop:after-returning pointcut-ref="abc" method="doAccessCheck" returning="retVal"/>-->
            <!--<aop:after-throwing pointcut-ref="abc" method="doRecoveryActions" throwing="e"/>-->

        <!--</aop:aspect>-->
    <!--</aop:config>-->

</beans>